
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__antlr_antlr_2_7_2.xml
.idea/libraries/Maven__bouncycastle_bcmail_jdk14_136.xml
.idea/libraries/Maven__bouncycastle_bcprov_jdk14_136.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_5.xml
.idea/libraries/Maven__com_itextpdf_itextpdf_5_5_6.xml
.idea/libraries/Maven__com_itextpdf_tool_xmlworker_5_5_7.xml
.idea/libraries/Maven__com_lowagie_itext_2_1_0.xml
.idea/libraries/Maven__com_sendgrid_java_http_client_4_1_0.xml
.idea/libraries/Maven__com_sendgrid_sendgrid_java_4_2_1.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_7_0.xml
.idea/libraries/Maven__commons_chain_commons_chain_1_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_digester_commons_digester_1_8.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1.xml
.idea/libraries/Maven__commons_validator_commons_validator_1_3_1.xml
.idea/libraries/Maven__dom4j_dom4j_1_1.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_javaee_api_7_0.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_3.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_9.xml
.idea/libraries/Maven__net_jodah_expiringmap_0_5_6.xml
.idea/libraries/Maven__org_antlr_antlr_runtime_3_4.xml
.idea/libraries/Maven__org_antlr_stringtemplate_3_2_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
.idea/libraries/Maven__org_apache_struts_struts_core_1_3_8.xml
.idea/libraries/Maven__org_apache_struts_struts_taglib_1_3_8.xml
.idea/libraries/Maven__org_apache_struts_struts_tiles_1_3_8.xml
.idea/libraries/Maven__org_apache_velocity_velocity_1_7.xml
.idea/libraries/Maven__org_apache_velocity_velocity_tools_2_0.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_52.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_jdbi_jdbi3_core_3_3_0.xml
.idea/libraries/Maven__org_jdbi_jdbi3_postgres_3_3_0.xml
.idea/libraries/Maven__org_jdbi_jdbi3_spring4_3_3_0.xml
.idea/libraries/Maven__org_jdbi_jdbi3_sqlobject_3_3_0.xml
.idea/libraries/Maven__org_jdbi_jdbi_2_78.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_postgresql_postgresql_42_2_4.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_xhtmlrenderer_core_renderer_R8pre2.xml
.idea/libraries/Maven__oro_oro_2_0_8.xml
.idea/libraries/Maven__sslext_sslext_1_2_0.xml
.idea/mgtc.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
target/mgtc-1.0.0/WEB-INF/web.xml
target/mgtc-1.0.0/WEB-INF/spring-mvc-servlet.xml
target/mgtc-1.0.0/WEB-INF/lib/xmlworker-5.5.7.jar
target/mgtc-1.0.0/WEB-INF/lib/velocity-tools-2.0.jar
target/mgtc-1.0.0/WEB-INF/lib/velocity-1.7.jar
target/mgtc-1.0.0/WEB-INF/lib/struts-tiles-1.3.8.jar
target/mgtc-1.0.0/WEB-INF/lib/struts-taglib-1.3.8.jar
target/mgtc-1.0.0/WEB-INF/lib/struts-core-1.3.8.jar
target/mgtc-1.0.0/WEB-INF/lib/stringtemplate-3.2.1.jar
target/mgtc-1.0.0/WEB-INF/lib/sslext-1.2-0.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-webmvc-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-web-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-tx-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-jdbc-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-expression-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-core-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-context-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-beans-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/spring-aop-4.3.2.RELEASE.jar
target/mgtc-1.0.0/WEB-INF/lib/slf4j-api-1.7.25.jar
target/mgtc-1.0.0/WEB-INF/lib/servlet-api-2.3.jar
target/mgtc-1.0.0/WEB-INF/lib/sendgrid-java-4.2.1.jar
target/mgtc-1.0.0/WEB-INF/lib/postgresql-42.2.4.jar
target/mgtc-1.0.0/WEB-INF/lib/oro-2.0.8.jar
target/mgtc-1.0.0/WEB-INF/lib/objenesis-2.1.jar
target/mgtc-1.0.0/WEB-INF/lib/mysql-connector-java-5.1.9.jar
target/mgtc-1.0.0/WEB-INF/lib/mockito-core-1.10.19.jar
target/mgtc-1.0.0/WEB-INF/lib/jdbi3-sqlobject-3.3.0.jar
target/mgtc-1.0.0/WEB-INF/lib/jdbi3-spring4-3.3.0.jar
target/mgtc-1.0.0/WEB-INF/lib/jdbi3-postgres-3.3.0.jar
target/mgtc-1.0.0/WEB-INF/lib/jdbi3-core-3.3.0.jar
target/mgtc-1.0.0/WEB-INF/lib/jdbi-2.78.jar
target/mgtc-1.0.0/WEB-INF/lib/javax.servlet-api-3.0.1.jar
target/mgtc-1.0.0/WEB-INF/lib/javax.mail-1.5.0.jar
target/mgtc-1.0.0/WEB-INF/lib/javaee-api-7.0.jar
target/mgtc-1.0.0/WEB-INF/lib/java-http-client-4.1.0.jar
target/mgtc-1.0.0/WEB-INF/lib/jackson-databind-2.9.5.jar
target/mgtc-1.0.0/WEB-INF/lib/jackson-core-2.9.5.jar
target/mgtc-1.0.0/WEB-INF/lib/jackson-annotations-2.9.5.jar
target/mgtc-1.0.0/WEB-INF/lib/itextpdf-5.5.6.jar
target/mgtc-1.0.0/WEB-INF/lib/itext-2.1.0.jar
target/mgtc-1.0.0/WEB-INF/lib/httpcore-4.4.4.jar
target/mgtc-1.0.0/WEB-INF/lib/httpclient-4.5.2.jar
target/mgtc-1.0.0/WEB-INF/lib/hamcrest-core-1.1.jar
target/mgtc-1.0.0/WEB-INF/lib/expiringmap-0.5.6.jar
target/mgtc-1.0.0/WEB-INF/lib/dom4j-1.1.jar
target/mgtc-1.0.0/WEB-INF/lib/core-renderer-R8pre2.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-validator-1.3.1.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-logging-1.1.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-lang-2.4.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-io-2.5.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-digester-1.8.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-collections-3.2.1.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-codec-1.9.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-chain-1.1.jar
target/mgtc-1.0.0/WEB-INF/lib/commons-beanutils-1.7.0.jar
target/mgtc-1.0.0/WEB-INF/lib/bcprov-jdk15on-1.52.jar
target/mgtc-1.0.0/WEB-INF/lib/bcprov-jdk14-136.jar
target/mgtc-1.0.0/WEB-INF/lib/bcmail-jdk14-136.jar
target/mgtc-1.0.0/WEB-INF/lib/antlr-runtime-3.4.jar
target/mgtc-1.0.0/WEB-INF/lib/antlr-2.7.2.jar
target/mgtc-1.0.0/WEB-INF/lib/activation-1.1.jar
target/mgtc-1.0.0/WEB-INF/database.xml
target/mgtc-1.0.0/WEB-INF/classes/template/logo.png
target/mgtc-1.0.0/WEB-INF/classes/template/agenda_pdf.vm
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/utils/VelocityUtil.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/utils/TimeUtil.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/utils/ImageHelper.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/utils/EmailUtil.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/utils/Base64ImageProvider.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/UserService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/SpeechService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/MeetingService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/LeaderBoardService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/GoalService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/EmailService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/AutoSuggestionService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/service/AgendaService.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/User.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/Speech.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/Meeting.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/mapper/UserMapper.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/mapper/SpeechMapper.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/mapper/MeetingMapper.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/mapper/GoalMapper.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/entity/Goal.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dto/LeaderBoard.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dto/Contribution.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/UsersDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/UsersDao$UsersJDBIDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/SpeechDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/SpeechDao$SpeechJdbiDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/MeetingJsonDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/MeetingDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/MeetingDao$MeetingJdbiDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/GoalDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/GoalDao$GoalJdbiDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/AutosuggestionDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/dao/AutosuggestionDao$AutoSuggestionJDBIDao.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/UserController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/SpeechController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/MessageController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/MeetingController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/LeaderBoardController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/HealthCheck.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/GoalController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/controller/AutosuggestionController.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/aggregator/LeaderBoardAggregator.class
target/mgtc-1.0.0/WEB-INF/classes/com/anubhav/mgtc/aggregator/ContributionAggregator.class
target/mgtc-1.0.0/styles/styles.css
target/mgtc-1.0.0/index.jsp
target/mgtc-1.0.0/index.html
target/mgtc-1.0.0/images/server.png
target/mgtc-1.0.0/images/README
target/mgtc-1.0.0/images/drive.png
target/mgtc-1.0.0/images/database.png
target/mgtc-1.0.0.war
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/dependency/webapp-runner.jar
target/classes/template/logo.png
target/classes/template/agenda_pdf.vm
target/classes/com/anubhav/mgtc/utils/VelocityUtil.class
target/classes/com/anubhav/mgtc/utils/TimeUtil.class
target/classes/com/anubhav/mgtc/utils/ImageHelper.class
target/classes/com/anubhav/mgtc/utils/EmailUtil.class
target/classes/com/anubhav/mgtc/utils/Base64ImageProvider.class
target/classes/com/anubhav/mgtc/service/UserService.class
target/classes/com/anubhav/mgtc/service/SpeechService.class
target/classes/com/anubhav/mgtc/service/MeetingService.class
target/classes/com/anubhav/mgtc/service/LeaderBoardService.class
target/classes/com/anubhav/mgtc/service/GoalService.class
target/classes/com/anubhav/mgtc/service/EmailService.class
target/classes/com/anubhav/mgtc/service/AutoSuggestionService.class
target/classes/com/anubhav/mgtc/service/AgendaService.class
target/classes/com/anubhav/mgtc/entity/User.class
target/classes/com/anubhav/mgtc/entity/Speech.class
target/classes/com/anubhav/mgtc/entity/Meeting.class
target/classes/com/anubhav/mgtc/entity/mapper/UserMapper.class
target/classes/com/anubhav/mgtc/entity/mapper/SpeechMapper.class
target/classes/com/anubhav/mgtc/entity/mapper/MeetingMapper.class
target/classes/com/anubhav/mgtc/entity/mapper/GoalMapper.class
target/classes/com/anubhav/mgtc/entity/Goal.class
target/classes/com/anubhav/mgtc/dto/LeaderBoard.class
target/classes/com/anubhav/mgtc/dto/Contribution.class
target/classes/com/anubhav/mgtc/dao/UsersDao.class
target/classes/com/anubhav/mgtc/dao/UsersDao$UsersJDBIDao.class
target/classes/com/anubhav/mgtc/dao/SpeechDao.class
target/classes/com/anubhav/mgtc/dao/SpeechDao$SpeechJdbiDao.class
target/classes/com/anubhav/mgtc/dao/MeetingJsonDao.class
target/classes/com/anubhav/mgtc/dao/MeetingDao.class
target/classes/com/anubhav/mgtc/dao/MeetingDao$MeetingJdbiDao.class
target/classes/com/anubhav/mgtc/dao/GoalDao.class
target/classes/com/anubhav/mgtc/dao/GoalDao$GoalJdbiDao.class
target/classes/com/anubhav/mgtc/dao/AutosuggestionDao.class
target/classes/com/anubhav/mgtc/dao/AutosuggestionDao$AutoSuggestionJDBIDao.class
target/classes/com/anubhav/mgtc/controller/UserController.class
target/classes/com/anubhav/mgtc/controller/SpeechController.class
target/classes/com/anubhav/mgtc/controller/MessageController.class
target/classes/com/anubhav/mgtc/controller/MeetingController.class
target/classes/com/anubhav/mgtc/controller/LeaderBoardController.class
target/classes/com/anubhav/mgtc/controller/HealthCheck.class
target/classes/com/anubhav/mgtc/controller/GoalController.class
target/classes/com/anubhav/mgtc/controller/AutosuggestionController.class
target/classes/com/anubhav/mgtc/aggregator/LeaderBoardAggregator.class
target/classes/com/anubhav/mgtc/aggregator/ContributionAggregator.class
